
<fieldset class="form-inline search-bar">
  <div class="form-group">
    <label for="typeahead-http" style="color: white">Search for a city weather:</label>
    <input id="typeahead-http" type="text" class="form-control mx-sm-3" (selectItem)="clickedLocation($event)" pattern="[a-zA-Z ]*"
           [class.is-invalid]="searchFailed" [(ngModel)]="model" [ngbTypeahead]="search" placeholder="Accuweather search..." />
    <small *ngIf="searching" class="form-text text-muted">searching...</small>
    <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
  </div>
</fieldset>

<div *ngIf=" currentWeather" class="container main-container d-flex flex-column justify-content-between" >
  <div class="d-inline-flex justify-content-between" style="margin-top: 2vh">
    <div class="left-infos">
      <div class="city-name">
        {{currentLocation}}
      </div>
      <div *ngIf="temperatureMetric==='celsius'" class="temperature">
        {{currentWeather.Temperature.Metric.Value}}&deg; c
      </div>
      <div *ngIf="temperatureMetric==='fahrenheit'">
        {{currentWeather.Temperature.Imperial.Value}}&deg; F
      </div>
    </div>
    <div class="favorite-section d-inline-flex">
      <span class="heart" style="margin-right: 1vw">
        <i *ngIf="!isAddedToFavorites" class="fa fa-heart-o heartIcon"></i>
        <i *ngIf="isAddedToFavorites" class="fa fa-heart heartIcon"></i>
      </span>
      <button id="favorites" class="btn btn-secondary" (click)="addCityToFavorites()">
        Add to favorites
      </button>
    </div>
    <mat-slide-toggle style="width: 12vh" (change)="toggleTemperatureMetric()">{{temperatureMetric}}</mat-slide-toggle>
  </div>

  <div class="middle-section">
    <h1 *ngIf="currentWeather" class="weather-text">
      {{currentWeather.WeatherText}}
    </h1>
  </div>
  <p>Click on element to toggle day/night weather</p>
  <div *ngIf="forecastWeather" class="row lower-section">
    <div *ngFor="let day of forecastWeather.DailyForecasts"
         class="col card daily-weather" (click)="cardClicked()" [@cardFlip]="data.state">
      <div class="face front align-items-center"  [ngClass]="{'flipped': isCardFlipped}">
        <div class="date">
          {{day.Date | date}}
        </div>
        <div>
          {{(temperatureMetric === 'fahrenheit') ? (day.Temperature.Maximum.Value + '&deg; F'): (day.Temperature.Maximum.Value | temperatureConverter: 'C') + '&deg; c'}}

        </div>
        <div>
          {{day.Day.IconPhrase}}
        </div>
      </div>
      <div class="face back align-items-center" [ngClass]="{'flipped': !isCardFlipped}">
        <div class="date">
          {{day.Date | date}}
        </div>
        <div>
          {{(temperatureMetric === 'fahrenheit') ? (day.Temperature.Minimum.Value + '&deg; F'): (day.Temperature.Minimum.Value | temperatureConverter: 'C') + '&deg; c'}}
        </div>
        <div>
          {{day.Night.IconPhrase}}
        </div>
      </div>
    </div>
  </div>
</div>
