@media only screen and (max-width: 500px){
  .favorite-card {
    min-width: 23vw;
  }
}

.favorite-card {
  height: 23vh;
  margin: 1.5vh;
  font-weight: bold;
  align-items: center;
  box-shadow: 10px 10px 43px -18px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  cursor: pointer;
  background-image: url("~src/assets/pics/day.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.favorites-title{
  text-align: center;
  color: white;
  font-size: 4vh;
  margin-top: 1vh;
}

.no-fav-text {
  text-align: center;
  color: red;
  margin-top: 4vh;
  font-size: 2vh;
}
